{% extends "base.html" %}
{% block content %}
  <h2>Свободные слоты — {{ month }} {{ day }}</h2>
  {% if slots %}
    <form action="{{ url_for('book_slot') }}" method="post">
      {% for s,e in slots %}
        <div>
          <input type="radio" name="start" value="{{ s }}" id="{{ s }}-{{ e }}" required>
          <label for="{{ s }}-{{ e }}">{{ s }} — {{ e }}</label>
          <input type="hidden" name="end" value="{{ e }}">
        </div>
      {% endfor %}
      <br>
      <button type="submit">Забронировать выбранный слот</button>
    </form>
  {% else %}
    <p>Нет свободных слотов для выбранной длительности.</p>
  {% endif %}
{% endblock %}
